<h2 class="p-5 pb-0">Update product</h2>
<div class="p-5">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" name="price" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="product" class="form-label">Product</label>
    <input type="text" class="form-control" id="product" name="product" />
  </div>

  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input type="text" class="form-control" id="color" name="color" />
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input type="text" class="form-control" id="image" name="image" />
  </div>

  <button onclick="updateProductDb()" class="btn btn-primary">Submit</button>
</div>

<script>
  // Get product from DOM
  function getProductFromDOM() {
    const name = document.getElementById("name").value;
    const price = document.getElementById("price").value;
    const description = document.getElementById("description").value;
    const product = document.getElementById("product").value;
    const color = document.getElementById("color").value;
    const image = document.getElementById("image").value;

    return {
      name,
      price: parseInt(price),
      description,
      product,
      color,
      image,
    };
  }

  // Format product by remove filed null
  function removePropertiesNull(data) {
    const product = {};

    data.name ? (product.name = data.name) : null;
    data.price ? (product.price = data.price) : null;
    data.description ? (product.description = data.description) : null;
    data.product ? (product.product = data.product) : null;
    data.color ? (product.color = data.color) : null;
    data.image ? (product.image = data.image) : null;

    return product;
  }

  // Call api to update product
  async function updateProductDb() {
    const postId = location.pathname.split("/")[3];
    const product = getProductFromDOM();
    const updateProduct = removePropertiesNull(product);

    const apiUrl = `http://localhost:5000/api/products/${postId}`;

    const res = await fetch(apiUrl, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(updateProduct),
    });

    console.log(res);
  }
</script>
